.star{
    padding-right: 5px;
    color: #E2E2E2;
    transition: 0.3s;
}

.filled {
    padding-right: 5px;
    color: var(--primary);
}

.editable {
    cursor: pointer;
}

.editable:hover {
    color: var(--primary-hover);
}

.ratingWrapper {
    position: relative;
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    left: -20px;
    color: var(--red);
    width: 150px;
}

.error i {
    text-shadow: 0 0 2px var(--red);
}