.reviewForm {
    font-size: 14px;
    line-height: 24px;

    display: grid;
    grid-template-columns: [start] auto 1fr auto [end];
    gap: 20px 30px;
    align-items: center;
}

.description, .submit {
    grid-column: start / end;
}

.title {
    justify-self: left;
}

.info {
    margin-left: 15px;
}

.rating {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.panel {
    position: relative;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
}

.success {
    background: var(--green-light);
}

.error {
    background: var(--red-light);
    font-weight: 600;
}

.successTitle {
    font-weight: bold;
    margin-bottom: 7px;
}

.closeMessage {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
}

.closeSuccessMessage {
    color: var(--green);
}

.closeErrorMessage {
    color: var(--dark-red);
}

@media (max-width:1100px) {
    .reviewForm {
        grid-template-columns: [start] 1fr 1fr [end];
    }

    .title {
        justify-self: normal;
    }

    .rating {
        grid-column: start / end;
    }
}

@media (max-width:640px) {
    .reviewForm {
        grid-template-columns: [start] 1fr [end];
    }
}

@media (max-width: 335px) {
    .success {
        font-size: 14px;
    }
}